body{
    background-color: rgb(3, 3, 3);
    margin: 0px;
    padding: 0px;
    -moz-margin:0px; 
    -webkit-margin:0px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;

}
section{
    width: 100%;
    height: 95vh;
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgba(25, 0, 255, 0.5);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

nav ul li a:hover{
    background: rgb(180, 179, 179);
    font-size: 16px;
    border-radius: 10px;
}



.logo{
    font-family: fantasy;
    color: black;
    font-size: 22px;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.text-container p:nth-child(3){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 20px;
}

.text-container{
    position: absolute;
    left: 20%;
    top: 40%;
    transform: translate(-10%, -40%);
}

.text-container button{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px 10px;
    
}
.text-container button:hover{
    background-color: rgb(233, 249, 250);
    color: black;
}

.resume{
    position: relative;
    margin-top: 2%;
    background-color: rgb(0, 3, 3);
    color: whitesmoke;
}

.resume:active{
    transform: scale(1.05);
}
.displaypic{
    height: 50%;
    position: relative;
    top: 10%;
    left: 70%;
    transform: translate(-70%);
    border-radius: 1000px;
    
}
.about{
    width: 85%;
    height: fit-content;
    background-color: wheat;
    background-image: url(./images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 0px 2px rgb(255, 255, 255);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.about-txt{
    width: 550px;
}
.about-txt p:nth-child(1){
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    
}

.about-txt p:nth-child(2){
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.about-txt p:nth-child(3){
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
}
.about-txt p:nth-child(4){
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}

.about-txt p:nth-child(5){
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}
.about-txt p:nth-child(6){
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
}
.about-txt p:nth-child(7){
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.about-txt p:nth-child(8){
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    
}

.linke{
     width: 30px;
     height: 30px;
}

.hacke{
    width: 30px;
    height: 30px;
    margin-left: 2%;
}
.git{
    width: 30px;
    height: 30px;
    margin-left: 2%;
}

.projects{
    height: 600px;
    background-color: rgb(0, 3, 3);
    padding: 2% 10% 0px 10%;

}

.project-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold ;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 0px;
}
.project-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 18px;

}
.project-text{
    width: 500px;
    margin: 50px 0px ;
}

.box-1, .box-2, .box-3{
    width:300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background-image: url(./images/p1.jpeg);
    background-position: center;
    background-size: cover;
    
}
.box-2{
    background-image: url(./images/p2.jpg);
    background-position: center;
    background-size: cover;
}
.box-3{
    background-image: url(./images/p3.png);
    background-position: center;
    background-size: cover;
}

.box-1 span, .box-2 span, .box-3 span{
    width: 40px;
    height: 40px;
    background-color: rgb(131, 131, 131);
    color: black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    align-items: center;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-3 p:nth-child(2){
    color: black;
    font-family: calibri;
    font-size: 25px;
    line-height: 0px;
    font-weight: bolder;
    

}
.box-2 p:nth-child(2){
 color: rgb(255, 255, 255);
 font-family: calibri;
 font-size: 24px;
 line-height: 0px;
 font-weight: bold;


}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    text-align: center;
    font-family: calibri;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: black;
    font-weight: bold;
    background-color: blanchedalmond;
    border-radius: 20px;

}
.box-1 button,
.box-2 button,
.box-3 button{
    width:100px;
    height: 30px;
    background-color: rgb(22, 21, 21);
    outline: rgb(3, 3, 3);
    color: sandybrown;
    border-radius: 10px;
}

.box-4{
    background-image: url(./images/m2.png);
    background-position: bottom;
    background-size: initial;
    
}
.box-5{
    background-image: url(./images/m1.png);
    background-position: center;
    background-size: cover;
}
.box-6{
    background-image: url(./images/p1.jpeg);
    background-position: center;
    background-size: inherit;
}

.box-4 span, .box-5 span, .box-6 span{
    width: 40px;
    height: 40px;
    background-color: rgb(131, 131, 131);
    color: black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    align-items: center;
    font-weight: bold;
}
.box-5 p:nth-child(2),
.box-6 p:nth-child(2){
    color: black;
    font-family: calibri;
    font-size: 25px;
    line-height: 0px;
    font-weight: bolder;
    
    

}
.box-4 p:nth-child(2){
 color:black;
 font-family: calibri;
 font-size: 25px;
 line-height: 0px;
 font-weight: bolder;
 background-color: black;


}
.box-4 p:nth-child(3),
.box-5 p:nth-child(3),
.box-6 p:nth-child(3){
    text-align: center;
    font-family: calibri;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: black;
    font-weight: bold;
    background-color: blanchedalmond;
    border-radius: 20px;

}
.box-4 button,
.box-5 button,
.box-6 button{
    width:100px;
    height: 30px;
    background-color: rgb(22, 21, 21);
    outline: rgb(3, 3, 3);
    color: sandybrown;
    border-radius: 10px;
}



.box-4, .box-5, .box-6{
    width:300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-4 span, .box-5 span, .box-6 span{
    width: 40px;
    height: 40px;
    background-color:black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    align-items: center;
    font-weight: bold;
}
footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: arial;

}
footer p:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
    color: blanchedalmond;

}
footer p:nth-child(3){
    font-size: 15px;
    color: blanchedalmond;
}
.social-icons a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    margin: 20px 10px;
}
.social-icons{
    display: flex;
}
